# Ignore node_modules directory
node_modules

# Ignore Dockerfile and .dockerignore (optional)
Dockerfile
.dockerignore

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build artifacts and cache
dist
build
tmp
.cache

# Ignore system files
.DS_Store
Thumbs.db
